<footer class="page-footer blue darken-2">
    <div class="row purple blue darken-2">
        <div class="container">
            <div class="col l6 s12">
            <h4 class="white-text">Mission</h4>
            <p class="grey-text text-lighten-4">
                This site gets all the news of the day from NPR along with links to the articles!
            </p>
            </div>
            <div class="col l4 offset-l2 s12">
            <h4 class="white-text">Additional Information</h4>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://github.com/ericksont11">Github</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/thomas-erickson-8428b4175/">LinkedIn</a></li>
                <li>Email: ericksont91@gmail.com</li>
            </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue darken-3">
        <div class="container center">
            Created by Tom Erickson
        </div>
    </div>
</footer>