<nav class="nav-extended blue darken-2">
    <div class="nav-wrapper  blue darken-3">
        <a href="#" class="brand-logo large-logo hide-on-med-and-down margin-left">News Scraper</a>
        <a href="#" class="brand-logo hide-on-large-only">News Scraper</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#" class="npr-tab">NPR<i class="material-icons left">scanner</i></a></li>            
            <li><a href="#" class="undefeated-tab">Undefeated<i class="material-icons left">directions_run</i></a></li>
        </ul>
    </div>
    <div class="nav-content brand-logo center hide-on-large-only blue darken-2">
        <ul class="tabs blue darken-2">
            <li><a href="#" class="npr-tab">NPR<i class="material-icons left bottom about-tab" id="npr-tab">scanner</i></a></li>            
            <li><a href="#" class="undefeated-tab">Undefeated<i class="material-icons left bottom portfolio undefeated-tab">directions_run</i></a></li>      
        </ul>
    </div>
</nav>