<nav class="nav-extended blue darken-2">
    <div class="nav-wrapper  blue darken-3">
        <a href="#" class="brand-logo large-logo hide-on-med-and-down margin-left">NPR News Scraper</a>
        <a href="#" class="brand-logo hide-on-large-only">NPR News Scraper</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">About Me<i class="material-icons left">face</i></a></li>            
            <li><a href="#">Portfolio<i class="material-icons left">folder</i></a></li>
            <li><a href="#">Contact<i class="material-icons left">contact_mail</i></a></li>
        </ul>
    </div>
    <div class="nav-content brand-logo center hide-on-large-only blue darken-2">
        <ul class="tabs blue darken-2">
            <li><a href="#">About Me<i class="material-icons left bottom about-tab">face</i></a></li>            
            <li><a href="#">Portfolio<i class="material-icons left bottom portfolio">folder</i></a></li>
            <li><a href="#">Contact<i class="material-icons left bottom contact">contact_mail</i></a></li>         
        </ul>
    </div>
</nav>