{{> header}}

<div id="modal1" class="modal">
  <div class="modal-content">
    <h5 class="comments">COMMENTS</h5>
    <ul class="collection" id="notes">
      </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close btn waves-effect waves-red red">Go back to browsing</a>
  </div>
</div>


<div class="row loading-screen">
  <div class="col s12 m8 offset-m2 l4 offset-l2">
    <div class="card loading articles">
      <div class="card-image center">
        <img src="/1200px-National_Public_Radio_logo.svg.png" class="npr-logo">
      </div>
      <div class="card-content">
        <button id="btn" class="btn">Click here to view NPR articles</button>
      </div>
    </div>
  </div>
  <div class="col s12 m8 offset-m2 l4">
    <div class="card loading articles undefeated">
      <div class="card-image center">
        <img src="http://valetmag.com/gr/the-edit/publications/2_0/art-logo_the_undefeated.png" class="npr-logo">
      </div>
      <div class="card-content">
        <button id="btn2" class="btn">Click here to view Undefeated articles</button>
      </div>
    </div>
  </div>
</div> 





<div id="wrapper">
    <div class=container>
        <div id="articles" class="row"></div>
    </div>
</div>

<button id="previous" class="btn">Click here to go back to last page</button>
<button id="next" class="btn">Click here to view more articles</button>
<button id="previous2" class="btn">Click here to go back to last page</button>
<button id="next2" class="btn">Click here to view more articles</button>

{{> footer}}
