{{> header}}

<div id="notes">
    <p id="titleinput"></p>
    <p id="bodyinput"></p>
</div>

<button id="btn" class="btn">Load Articles</button>
<div id="wrapper">
    <div class=container>
        <div id="articles"></div>
    </div>
</div>

{{> footer}}
