.card-image img {
    height: 20vh!important;
    width: 60%!important;
    margin-left:20% !important;
    padding-top:5% !important
}

.card {
    border-radius: 4%;
    height: 75vh;
    background: -webkit-linear-gradient(top, #1565C0 0%,#1565C0 20%,white 21%,white 100%);
}

.modal {
    background: -webkit-linear-gradient(top, #1565C0 0%,#1565C0 25%,white 25%,white 100%);
    padding: 0
}

.comments {
    margin-bottom: 10vh;
}

#savenote {
    width: 40%;
    margin-left: 30%
}

#btn {
    width: 80%;
    margin-left: 10%;
    margin-top:5vh
}

body {
    background-image: url(curls.png);
    min-height: 100%
}

.margin-left {
    margin-left: 3vw
}

.articles {
    margin-top: 7vh;
    margin-bottom: 7vh
}

.card-header {
    padding: 3vh;
    color: white;
    text-align: center;
    overflow: hidden
}

p, a {
    font-size: .85em !important
}

.loading {
    height: 41vh;
    background: -webkit-linear-gradient(top, #1565C0 0%,#1565C0 60%,white 60.1%,white 100%);
}


.comments {
    width:100%;
}

.delete-comment{
    position: relative;
    left: 10%
}

.tab {
    background-color: green;
    width:50vw
}

.btn {
    background-color: #1565C0
}

#previous,
#next {
    display: inline-block;
    width:50vw;
    margin-left: 25vw;
}

#next {
    margin-bottom: 5vw
}